html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
.heart {
    position: relative;
    height: 160px;
    width: 100px;
    background-color: red;
    border-radius: 200px 200px 0 0;
    transform: rotate(45deg);
    margin: 100px auto;
    animation: yurak 0.4s infinite;
    box-shadow: 0 0 40px 10px red;
}
@keyframes yurak {
    0% {
        transform: translateY(20px) scale(1.1) rotate(45deg);
    }
    50% {
        transform: translateY(-10px) scale(0.9) rotate(45deg);
    }
    100% {
        transform: translateY(30px) scale(1.2) rotate(45deg);
    }
}

.heart::before {
    content: "";
    position: absolute;
    background-color: red;
    height: 160px;
    width: 100px;
    transform: rotate(-90deg);
    border-radius: 200px 200px 0 0;
    left: -30px;
    top: 30px;
    box-shadow: 0 0 40px 10px red;
}